{% extends "base.html" %}
{% block Title%}Login{% endblock Title%}
{% block content%}


<div class="text-center">
    <main class="form-signin mt-5">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">

                <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        <p><a href="{% url 'user_registration' %}">Register</a></p>
    </main>
</div>


{% endblock content %}